[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
ipykernel = "*"
tornado = "==5.1.1"
jupyter = "*"
lxml = "*"
cssselect = "*"
beautifulsoup4 = "*"
pyquery = "*"
feedparser = "*"
pymongo = "*"
tenacity = "*"
cachecontrol = {extras = ["filecache"], version = "*"}
jsonschema = "*"

[requires]
python_version = "3.8"
